sudo: required
services:
- docker
language: bash
script:
# compile qemu from source and build image
- ./build.sh
# push image
- >
  if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
    docker tag hypriot/qemu-register hypriot/qemu-register:v2.7.0
    docker push hypriot/qemu-register:v2.7.0
    docker push hypriot/qemu-register:latest
  fi
